* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
    background-color: #ffecee;
}

section{
    padding-top: 95px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.row{
    flex-wrap: wrap;
}

.back-to-top {
    position: fixed;
    opacity: 1;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #e8505b;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
    text-decoration: none;
}
.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}


.back-to-top:hover {
    background: #9b1f27;
    color: #fff;
}

.header {
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    background-color: white;
}

.navbar-brand{
    transition: all 0.3s;
}

.navbar-brand:hover{
    transform: scale(1.2);
}

.nav-link{
    display: inline-block;
    transition: all 0.3s;
}

.nav-link:hover {
    color: #e8505b;
}

.nav-link:focus {
    color: black;
}


.nav-link::after{
    content: '';
    display: block;
    transform: scaleX(0);  
    transition: 0.3s ease-in-out;
    height: 3px;
    background: #e8505b;
    
}

.nav-link:hover::after {
    transform: scaleX(1);
}


.navbar a{
    color: black;
    font-size: 18px;
}

.navbar i{
    color: black;
    font-size: 24px;
}

.navbar-toggler:focus{
    box-shadow: 0 1px 6px rgb(0 0 0);
}

.btn-nav{
    background-color: #e8505b;
    transition: all 0.3s;
    border-radius: 24px;
    padding: 8px 20px 8px 20px !important;
}

.btn-nav:hover{
    background-color: #9b1f27;
}


.btn-nav:focus{
    box-shadow: none;
}


.hero-shape {
    position: absolute;
    left: -100px;
    bottom: 120px;
    z-index: -1;
}



.hero h1, .hero span{
    font-style: italic;
    font-size: 3.938rem;
}


.hero span{
    font-weight: 900 !important;
    color: #e8505b;
    text-shadow: 0 2px 8px rgb(0 0 0 / 0.3);
    font-size: 70px;
}

.hero p{
    color: grey;
}

.img-hero{
    width: 53rem;
}




.hero button{
    
        background:#e8505b;
        color: white;
        padding: 20px 50px 20px 50px;
        border-radius: 12px;
        border: none;
        transition: all 0.5s ease;
}    
      
.hero button:hover{
        transform: scale(1.1);
        box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
        background-color: #9b1f27;
}
        
 



.hero button > a{
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
}


.section-title h2{
    color: #e8505b;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    text-shadow: 0 2px 15px rgb(0 0 0 / 0.3);
}


.section-title h4{
    font-weight: 700;
    margin-top: 20px;
}

.section-title p{
    color: grey;
}

.service-box{
    width: 420px;
    padding: 12px 12px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    transition: all 0.3s;
}

.service-box img{
    width: 89px;
    height: 89px;
    margin-top: 20px;
}

.service-box h3{
    font-weight: 700;
    margin-top: 35px;
}

.service-box p{
    color: grey;
    margin-top: 25px;
}

.service-box:hover{
    transform: scale(1.03);
    color: #e8505b;
    background-color: rgb(230, 230, 230) !important;
}

.about-content p{
    color: grey;
}


.rating h4{
    font-weight: 900;
    text-shadow: 0 1px 12px rgb(255, 166, 0);
}


.rating i{
    color: rgb(255, 166, 0);
    text-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    padding-right: 4px;
}

.stars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.counter {
    background-color: #e8505b;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    transition: all 0.5s;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    font-weight: 700;
}

.counter:hover{
    background-color: #9b1f27;
    transform: scale(1.1);

}


.counter .single-counter{
    color: white;
    text-align: center;
    font-weight: 900;
    padding: 0 36px;
    margin: 16px 0;
}


.counter .central-counter{
    border-right: 3px solid rgb(230, 230, 230);
    border-left: 3px solid rgb(230, 230, 230);
}


.how button{
    
    background:#e8505b;
    color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 12px;
    border: none;
    transition: all 0.5s ease;
}    
  
.how button:hover{
    transform: scale(1.1);
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    background-color: #9b1f27;
}
    




.how button > a{
font-weight: bold;
color: white;
text-decoration: none;
font-size: 1.3rem;
letter-spacing: 1px;
}



.review-box{
    background-color: white;
    margin: 20px 10px 0 10px;
    width: 310px;
    padding: 25px 12px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.2);
    transition: all 0.5s;

}


.review-box > p{
    margin-top: 20px;
    
}



.review-box > .author{
    margin-top: 10px;
}



.review-box img{
    border-radius: 100%;
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.3);
}


.review-box i{
    color: rgb(255, 166, 0);
    text-shadow: 0 2px 15px rgb(0 0 0 / 0.2); 
    margin: 0 2px;
}

.author > div{
    margin-left: 20px;
    margin-top: 10px;
}


.author h5{
    font-weight: bold;
}

.author p{
    color: grey;
    font-size: 15px;
}


.review-box:hover{
    background-color: rgb(230, 230, 230);
    transform: scale(1.03);
}

.download .android{
    width: 24rem;
    margin-top: 32px;
}

.download .ios{
    width: 16rem;
    padding-bottom: 70px;
}

.download button{
    margin-top: 50px;
}

.download .download-box{
    background-color: white;
    box-shadow:  0 2px 15px rgb(0 0 0 / 0.3);
    width: 635px;
    height: 650px;
    margin: 0 12px;
    border-radius: 20px;
    transition: all 0.3s;
}

.download .download-box:hover{
    background-color: rgb(230, 230, 230);
}

.download-android{
    width: 20rem;
	animation: float 3s ease-in-out infinite;
}



.download-ios{
    width: 17rem;
    margin-top: 1.6rem;
    animation: float 3s ease-in-out infinite;
}

.download-box a{
    color: black;
    text-decoration: none;
}

.order input, .order textarea{
    box-shadow:  0 2px 15px rgb(0 0 0 / 0.2);
}

.order label{
    display: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: grey;
}


.checkout{
    background-color: #e8505b;
    color: white;
    position: relative;
    left: 41%;
    box-shadow:  0 2px 15px rgb(0 0 0 / 0.3);
    transition: all 0.3s;

}

.checkout:hover{
    color: white;
    background-color: #9b1f27;
}

.checkout:focus{
    box-shadow: none;
}

.order a{
    text-decoration: none;
    color: #e8505b;
}


.btn-close{
    box-shadow: none !important;
}

.partner .row{
    background-color: #ffc4c7;
    box-shadow:  0 2px 15px rgb(0 0 0 / 0.3);

}
.partner img {
    width: 100px;
    margin: 0 50px 0 50px;
    filter: saturate(0%);
    transition: all 0.5s;
}


.partner img:hover {
    filter: saturate(100%);
    transform: scale(1.3);
}


.footer{
    background-color: #263238;
}


.footer-bg{
    z-index: -2;
    display: block;
    position: absolute;
}

.footer .left{
    bottom: 0;
    left: 0;
}

.footer .right{
    right: 360px;
    bottom: 0;
    
}

.footer-btns a{
    padding: 12px 10px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #263238;
    box-shadow:  0 2px 15px rgb(255 255 255 / 0.3);
    transition: all 0.5s;
}

.footer-btns a:hover{
    background-color: #e8505b;
    border: 2px solid #e8505b;
}


.footer-links ul{
    list-style-type: none;
    margin-top: 1.7rem;
    padding: 0;
}

.footer-links a{
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.footer-links a:hover{
    color: #e8505b;
}

.footer-links h3{
    color: white;
    font-weight: 700;
}

.footer-links li{
    margin-top: 12px;
    font-style: italic;
}

@media (max-width: 1570px) {
    .hero-shape img{
        display: none;
    }


    
}



@media (max-width: 1720px){
    img{
        max-width: 100% !important;
        height: auto !important;
    }
}


@media (min-width: 992px) and (max-width: 1399px){
    .counter .central-counter{
        border: none;
    }
}

@media (max-width: 767px){
    .counter .central-counter{
        border: none;
    }

    .footer-btns{
        display: flex;
        flex-direction: column;
        
    }

    .checkout{
        position: inherit;
    }
}




@media (max-width: 511px) {
    .hero h1{
        text-align: center;
    }
}


@media (max-width: 992px){
    .hero img,.about .section-title, .how img, .received img, .received .section-title, .footer-links, .footer-download{
        padding-top: 50px;
    }
}


@media (min-width: 767px) and (max-width: 992px){
    .checkout{
        position: relative;
        left: 34%;
    }
}


@media (max-width: 521px) {
    .download .download-box{
        height: 970px;
    }
}


@media (max-width: 370px) {
    .hero h1, .hero span{
        font-size: 3.3rem;
        position: relative;
        right: 4px;
        
    }
}


